<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<style>
    #logout {
        flex: 1;
        float: right;
        /* 上面留空 */
        padding-top: 20px;
        /* 右邊留空 */
        padding-right: 40px;
    }
    #filelist {
        /* 水平居中 */
        position: absolute;
        left: 50%;

    }

</style>
<body>
    <div id="logout">
        当前登录用户为:{{ username }}
    <a href="/logout">Log Out</a>
    </div>
    

    <div id="filelist">
        <h1>File List</h1>
        <ul>
            {% for file in files %}
                <li><a href="/file/{{ file }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>


</body>
</html>
