<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <h1>Register</h1>
    <form method="post" action="/register">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Register">
    </form>
    
    <div id="login">
        <button onclick="location.href='/login'">Log In</button>
    </div>
</body>
</html>
